<div id="discord-overlay" style="
  position: absolute;
  top: {{ discord_overlay.top }};
  left: {{ discord_overlay.left }};
  width: {{ discord_overlay.width }};
  height: {{ discord_overlay.height }};
  z-index: {{ discord_overlay.z_index }};
  font-size: {{ discord_overlay.font_size }};
  color: {{ discord_overlay.color }};
  background: {{ discord_overlay.background }};
  overflow: auto;
  padding: {{ discord_overlay.padding }};
  text-shadow: 2px 2px 4px rgba(0,0,0,1);
">
  Loading Discord messages...
</div>

